{% extends "base.html" %}

{% block title %}
    {% if parent_project %}
        Новый дочерний проект
    {% else %}
        Новый проект
    {% endif %}
{% endblock %}

{% block content %}
    <p>
        <a href="{{ url_for('projects.projects_list') }}">К активным проектам</a>
        |
        <a href="{{ url_for('projects.projects_archive') }}">К архиву</a>
    </p>

    {% if parent_project %}
        <h1>Новый дочерний проект для: {{ parent_project.title }}</h1>
    {% else %}
        <h1>Новый проект</h1>
    {% endif %}

    <form method="post">
        {{ form.hidden_tag() }}

        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=60) }}
        </p>

        <p>
            {{ form.description.label }}<br>
            {{ form.description(rows=5, cols=60) }}
        </p>

        {{ form.parent_id() }}

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}